<div id="<%= dom_id comment %>">
   <p>
    <strong><%= comment.user.username %></strong>
  </p>
  
  <p>
    <strong>Comment:</strong>
    <%= comment.message %>
  </p>

  <div>
    <%= link_to "Edit this comment", edit_comment_path(@comment) %> 
    <%= button_to "Destroy this comment", 'comment#destroy', method: :delete %>
  </div>


</div>
